
<% if current_user %>

    <script id="BOOTSTRAPPED_RM">
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>

<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_KEY %>" charset="utf-8"></script>


<main id="root">
    Something is wrong with React.
</main>